* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  border: black 1px solid;
  width: min(30rem, 90%);
  height: min(30rem, 90%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

.square {
  border: black 1px solid;
}